$primary-color: #b15c5d;
$light-primary-color: #c07071;
$dark-primary-color: #964b4c;
$white: #FFF;
$bg: #36393f;
$secondaryBg: #202225;

@import url('https://fonts.googleapis.com/css?family=Blinker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  color: $white;
  background-color: $bg;
  font-family: 'Blinker', sans-serif;
}

#container {

  background: #DDD;
  background-image: url("/assets/empty_background.png");
  background-repeat: repeat;
  border: 5px solid #CCC;
  width: 400px;
  height: 400px;
  position: relative;
  margin-bottom: 2rem;

  &.ondrag {


    border: 5px solid green;
  }
}

#app {
  display: flex;
  flex-direction: row;
  max-width: 1400px;
  margin: 0 auto;

}

.column {
  width: 25%;

  background: $secondaryBg;
  border-radius: 1rem;
  padding: 2rem;
  margin: 1rem;
}

.main {

  display: flex;
  align-items: center;
  text-align: center;
  width: 50%;
  flex-direction: column;


  border-radius: 1rem;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.1);
  margin: 1rem;

}

.bt {
  display: inline-block;
  text-align: center;
  max-width: 100%;
  background: $primary-color;
  color: $white;
  padding: 1rem 4rem;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 2rem;
  margin-top: 1rem;
  border: 0;
  border-radius: .5rem;
  transition: background .4s, box-shadow .4s ease;
  font-family: 'Blinker', sans-serif;
  letter-spacing: 1px;
  box-shadow: 0px 9px 32px 0px rgba(192, 112, 113, 0.4);
  font-weight: 700;
  font-size: 1rem;


  cursor: pointer;

  &:hover {
    background: $dark-primary-color;

    box-shadow: 0px 5px 32px -6px rgba(192, 112, 113, 0.6);

  }
}

h1,
h2,
h3 {
  margin-top: 0;
}

.radio {
  border: $bg 1px solid;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  label {
    display: block;
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }

    input {
      margin-right: 1rem;
    }
  }
}

#save {
  width: 400px;
}

img {
  max-width: 100%;
  height: auto;
}

.logos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  img {
    max-width: 30%;
    cursor: grab;

    &:hover {
      opacity: 0.9;
    }
  }
}

#text-input {
  display: block;
  width: calc(100% - 2rem);
  padding: 1rem;
  font-size: 1rem;

  border-radius: .5rem;


}

#backgrounds {
  img {
    width: 50%;
    cursor: pointer;
    margin-bottom: .5rem;

    &:hover {
      opacity: 0.9;
    }
  }
}